<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-pdf"></span>
  </div>

  <div class="title">
    SEO Headline
  </div>

  <div class="description">
    A Widget with some options for SEO.
  </div>
</div>
