h1, .h1, .large { font-size: 32px; line-height: 40px; }
h2, .h2, .medium { font-size: 27px; line-height: 35px; }
h3, .h3, .normal { font-size: 22px; line-height: 30px; }
h4, .h4, .small { font-size: 18px; line-height: 28px; }
h5, .h5, .text { font-size: 15px; line-height: 26px; }
h6, .h6 { font-size: 13px; line-height: 23px; }

.font-lighter {
  font-weight: 100 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.font-bolder {
  font-weight: 800 !important;
}
