h1 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

h6 {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

h1.large, h2.large, h3.large, h4.large, h5.large, h6.large {
  font-size: 36px;
}

h1.medium, h2.medium, h3.medium, h4.medium, h5.medium, h6.medium {
  font-size: 30px;
}

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
  font-size: 24px;
}

h1.text, h2.text, h3.text, h4.text, h5.text, h6.text {
  font-size: 14px;
}

h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
  font-weight: normal;
  font-style: normal;
}

h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
  font-weight: bold;
  font-style: normal;
}

h1.italic, h2.italic, h3.italic, h4.italic, h5.italic, h6.italic {
  font-weight: normal;
  font-style: italic;
}

h1.bold-italic, h2.bold-italic, h3.bold-italic, h4.bold-italic, h5.bold-italic, h6.bold-italic {
  font-weight: bold;
  font-style: italic;
}

h1.left, h2.left, h3.left, h4.left, h5.left, h6.left {
  text-align: left;
}

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
  text-align: center;
}

h1.right, h2.right, h3.right, h4.right, h5.right, h6.right {
  text-align: right;
}
